@use "./variables" as v;
@use "./mixins" as u;
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@800&display=swap');

html,body{
    margin: 0rem;
    height: 97vh;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: v.$font-family;
    font-size: v.$font-md;
    color: v.$light-cyan;
    background-color: v.$dark-blue;
    margin: 1rem;
}

footer{
    .attribution { font-size: 11px; text-align: center; }
    .attribution a { color: hsl(227, 45%, 75%); }
}